* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #fff;
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 40px;
  border-top: 40px;
}
.fullScreen {
  /* border: 1px solid #ccc; */
  border-radius: 20px;
  top: 0.2vh;
  width: 99vw;
  /*background-color: #312726;*/
  display: flex;
  justify-content: center;
  align-items: end;
  background: linear-gradient(to bottom, #312726, #81685e);
}

.MainContent {
  border: 1px solid #ccc;
  width: 70vw;
  margin: 20px;
  border-radius: 20px;
  background-color: white;
  opacity: 1;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 20px;
  margin-top: 200px;
}

.MainContent > .Announcement {
	border: 1px soild #ccc;
	width: 59vw;
	height: 50px;
	background-color: #615353;
	border-radius: 10px;
	padding-left: 2%;
	font-size: 25px;
	padding-top: 1%;
	position: relative;
}


.Accounts {
    height: 50px;
    display: flex;
    font-weight: bold;
    font-size: 20px;
  }
  
.Account {
  color: black;
  font-size: 95%;
  align-content: center;
  padding-bottom: 6px;
}

 .Box1 {
   display: flex;
   width: 100%;
   margin-top: 50px;
 }
 
 .box2 {
   width: 70%;
   position:relative;
 }
 
 .content {
 	width: 100%;
 	
 }
 
 .box3 {
   /*border: 1px solid red;*/
   width: 30%;
   margin-top: 50px;
  }
  
#company {
  width: 25%;
  text-align: center;
}

#address {
  width: 50%;
  text-align: center;
}

#phone {
  width: 25%;
  text-align: center;
}
.line1 {
  border: 1px solid black;
  width: 139%;
  height: 3px;
  background-color: black;
  position: absolute;
  margin-left: 2%;
  top: -2%;
}

.line2 {
  border: 1px solid black;
  width: 1px;
  height: 97%;
  background-color: black;
  position: absolute;
  margin-left: 25%;
  top: 3px;
}

.line4 {
  border: 1px solid black;
  width: 1px;
  height: 97%;
  background-color: black;
  position: absolute;
  margin-left: 75%;
  top: 3px;
}

.line5 {
	opacity: 0;
	height: 550px;
	position:relative;
	width: 0px;
}

.Box2 {
	display: flex;
	margin-left: 20%;
	margin-bottom: 10px;
}


.btn1 {
  border: 1px solid black;
  width: 50px;
  height: 25px;
  margin-left: 10px;
  border-radius: 15%;
  background-color: #615353;
  color: white;
}

.update-button{
	background-color: #615353;
	color : white;
	border-radius: 10px;
	width:80px;
	height:25px;
}
.delete-button{
	background-color:#312726;
	color : white;
	border-radius: 10px;
	width:80px;
	height:25px;
}

.add-button{
  position: absolute;
  background-color: #ffffff;
  top: 14%;
  right: 3%;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  font-size: 30px;
  color: #312726;
}

.add-button:hover{
  cursor: pointer;
}

/* 로그인 파트 */
.Personal {
  position: fixed;
  height: 70px;
  width: 160px;
  top: 0px;
  right: 6px;
}

.Personal > #Login_box {
  width: 50px;
  height: 50px;
  margin-top: 10px;
  margin-left: 30px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.Personal > #message_box {
    width: 50px;
    height: 50px;
    margin-top: -50px;
    margin-left: 90px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.Personal > #Logout_box {
    width: 100px;
    height: 0px;
    margin-left: 50px;
    border-radius: 10px;
    background-color: #a8a8a8;
    transition: 0.5s;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#Logout_box > a {
	text-decoration: none;
	color: white;
}

#Login_icon {
	color: #a8a8a8;
	font-size: 42px;
	margin-top: 6px;
}

#Message_icon {
	color: #a8a8a8;
	font-size: 36px;
}

.message_amount {
	border: 1px solid red;
	background-color: red;
	width: 30px;
	height: 30px;
	position: absolute;
	border-radius: 50% 50%;
	right: 5px;
	top: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	font-size: 23px;
	padding-bottom: 4px;
}

.message_count {
	font-weight: bold;
}


/* 메뉴 css */
.MenuButton {
  position: fixed;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  top: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  opacity: 1;
}

.MenuButton:hover {
  opacity: 0.5;
}

.menuButtonBar {
  border: 1px solid #ccc;
  width: 30px;
  height: 3px;
  background-color: white;
}

.Workmenu {
border: 1px solid #ccc;
border-radius: 20px;
top: 0.1vh;
width: 400px;
height: 99vh;
background-color: #a8a8a8;
display: flex;
position: fixed;
left: -400px;;
opacity: 0.0;
transition: 0.5s;
padding: 20px;
display: flex;
flex-direction: column;
gap: 10px;
}

.Workmenu > .division_line {
  width: 200px;
  border: 1px solid white;
  height: 2px;
}
.Workmenu > .WelcomeFont {
  font-size: 45px;
}
.Workmenu > .menu_WorksBox {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 0px;
  transition: 0.5s;
  margin-left: 16px;
}

.WorksBox_Tag {
  font-size: 30px;
  cursor: pointer;
  display: flex;
  width: 110px;
}

.Menu_Works {
  overflow: hidden;
}

.Menu_BoardBox {
	width: 100px;
	margin-left: 16px;
}

.work_list > a{
	text-decoration: none;
	color: white;
}

.company_board {
	font-size: 30px;
}

.Menu_Boards > .board_list{
	list-style-type: none;
}

.socials {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  list-style: none;
  position:fixed;
  bottom:20px;
  left: 20px;
}
.socials a {
  /*color: rgba(255, 255, 255, 0.7);*/
  font-size: 45px;
}

#instagram {
	color: #8134af;
}

#facebook {
	color: #3b5998; 
}

#youtube {
	color: #c4302b;
}
.content {
	color: black;
	display:flex;
	flex-direction: column;
	position: relative;
}
.contents {
	display: flex;
	width: 100%;
}
#cor_name {
	text-align:center;
	width:25%;
}
#cor_address {
	text-align:center;
	width:50%;
}
#cor_tel {
	text-align:center;
	width:25%;
}
.remake_buttons {
	height: 30px;
	display:  flex;
	gap: 10px;
	margin-left: 15px;
	margin-top: 4px;
}
.content_list > .contents{
	height: 30px;
	margin-top: 4px;
}