@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #fff;
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 40px;
  border-top: 40px;
}

.fullScreen {
  /* border: 1px solid #ccc; */
  border-radius: 20px;
  top: 0.2vh;
  width: 99vw;
  height: 99vh;
  background-color: #312726;
  display: flex;
  justify-content: center;
  align-items: end;
}

.MainContent {
  border: 1px solid #ccc;
  width: 62vw;
  height: 750px;
  margin: 20px;
  border-radius: 20px;
  background-color: white;
  opacity: 1;
  display: flex;
  flex-direction:column;
  align-items:center ;
  flex-wrap: wrap;
  padding-top: 20px;
}
.Personal > #login_box {
  border: 1px solid #ccc;
  width: 50px;
  height: 50px;
  margin-top: 10px;
  margin-left: 30px;
  background-color: white;
  border-radius: 50%;
}
.Personal > #message_box {
    border: 1px solid #ccc;
    width: 50px;
    height: 50px;
    margin-top: -50px;
    margin-left: 90px;
    background-color: white;
    border-radius: 50%;
  }
.Announcement {
    border: 1px soild #ccc;
    width: 59vw;
    height: 50px;
    background-color:#312726;
    border-radius: 10px;
    font-size: 30px;
    padding-left: 10px;
  }
  .Personal {
    position: fixed;
    height: 70px;
    width: 160px;
    top: 0px;
    right: 6px;
  }
  
.Accounts {
    
    height: 50px;
    top: 20px;
    display: flex;
  }
  .Account {
    color: black;
    font-size: 17px;
  }
  .box1 {
    height: 150px;
  }
  .Box1 {
    display: flex;
  }
  .box2 {
    height: 400px;
    width: 80%;
  }
  .box3 {
    border: 1px solid red;
    height: 400px;
    width: 19%;
  }
#company {
  width: 150px;
  text-align: center;
}
#item {
  width: 150px;
  text-align: center;
}
#country {
  width: 130px;
  text-align: center;
}
#phone {
  width: 150px;
  text-align: center;
}
#comecheck {
    width: 150px;
    text-align: center;
  }

.line1 {
  border: 1px solid black;
  width: 550px;
  height: 3px;
  background-color: black;
  position: absolute;
  margin-left: 28px;
}
.line2 {
  border: 1px solid black;
  width: 1px;
  height: 350px;
  background-color: black;
  position: absolute;
  margin-left: 115px;
}
.line3 {
  border: 1px solid black;
  width: 1px;
  height: 350px;
  background-color: black;
  position: absolute;
  margin-left: 240px;
}
.line4 {
  border: 1px solid black;
  width: 1px;
  height: 350px;
  background-color: black;
  position: absolute;
  margin-left: 337px;
}
.line5 {
  border: 1px solid black;
  width: 1px;
  height: 350px;
  background-color: black;
  position: absolute;
  margin-left: 473px;
}
.Box2 {
  border: 1px solid red;
  width: 400px;
  height: 50px;
  margin-left: 350px;
  display: flex;
  align-items: center;
}
.search {
  border: 1px solid black;
  width: 80px;
  height: 25px;
  margin-left: 50px;
}
.box5 {
  border: 1px solid black;
  width: 180px;
  height: 25px;
  margin-left: 10px;
}
.btn1 {
  border: 1px solid black;
  width: 50px;
  height: 25px;
  margin-left: 10px;
  border-radius: 15%;
  background-color: #312726;
  color: white;
}

.MenuButton {
  position: fixed;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  top: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  opacity: 1;
}

.MenuButton:hover {
  opacity: 0.5;
}

.menuButtonBar {
  border: 1px solid #ccc;
  width: 30px;
  height: 3px;
  background-color: white;
}

.Workmenu {
border: 1px solid #ccc;
border-radius: 20px;
top: 0.1vh;
width: 400px;
height: 99vh;
background-color: #a8a8a8;
display: flex;
position: fixed;
left: -400px;;
opacity: 0.0;
transition: 0.5s;
padding: 20px;
display: flex;
flex-direction: column;
gap: 10px;
}

.Workmenu > .division_line {
  width: 200px;
  border: 1px solid white;
  height: 2px;
}
.Workmenu > .WelcomeFont {
  font-size: 45px;
}
.Workmenu > .menu_WorksBox {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 0px;
  transition: 0.5s;
  margin-left: 16px;
}

.WorksBox_Tag {
  font-size: 30px;
  cursor: pointer;
  display: flex;
  width: 110px;
}

.Menu_Works {
  overflow: hidden;
}

.Menu_BoardBox {
	width: 100px;
	margin-left: 16px;
}

.work_list > a{
	text-decoration: none;
	color: white;
}

.company_board {
	font-size: 30px;
}

.Menu_Boards > .board_list{
	list-style-type: none;
}

.socials {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  list-style: none;
  position:fixed;
  bottom:20px;
  left: 20px;
}
.socials a {
  /*color: rgba(255, 255, 255, 0.7);*/
  font-size: 45px;
}

#instagram {
	color: #8134af;
}

#facebook {
	color: #3b5998; 
}

#youtube {
	color: #c4302b;
}